@import "../../globals";

main {
    padding: 30px 0;
    padding-bottom: 200px;

    .sectionDivider {
        margin: 30px auto;
        width: 80%;
        border-bottom: thin solid $accentColor;
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

.projectCard {
    display: flex;

    flex-direction: column;
    align-items: center;
    max-width: 310px;

    button {
        box-sizing: content-box;
        border: none;
        border: solid thin $accentColor;
        background-color: #00000030;
        margin: 10px 30px;
        padding: 0;
        width: 300px;
        border-radius: 0 0 10px 10px;
        cursor: pointer;
        // height: 250px;
        transition: 0.3s;

        &:hover {
            border-color: lighten($accentColor, 20%);
        }
    }

    .image {
        width: 300px;
        height: 250px;
    }

    .cardDivider {
        width: 100%;
        border-top: thin solid $accentColor;
    }

    .cardInfo {
        div {
            display: flex;
            justify-content: space-around;
            align-items: center;

            h5 {
                font-family: monospace;
            }
        }
        p {
            padding: 0 25px;
            margin: 0;
            margin-bottom: 10px;
        }
    }

    .techDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .techTag {
        flex: auto;
        border: thin solid $accentColor;
        background-color: #00000018;
        margin: 5px 5px;
        padding: 0 5px;
        border-radius: 5px;
    }
}
