@import "../../globals";

header {
    border-bottom: thin solid $accentColor;
    justify-content: space-between;
    padding: 0 10px;

    .nameTitle {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 678px) {
            // background-color: red;
            display: flex;
            flex-direction: column;
            font-size: 8px;
        }

        h6 {
            margin: 0;
            margin-left: 10px;
            margin-bottom: 20px;
        }

        svg {
            margin: 0 20px;
            fill: #7d3074;
            width: 31px;
            height: auto;

            @media (max-width: 678px) {
                width: 14px;
            }
        }
    }

    .feedback {
        position: relative;
        margin-left: auto;
        margin-right: 5px;
        color: $accentColor;
    }

    .emailButton {
        display: flex;
        align-items: center;
        background-color: $bgColor;
        padding: 10px;
        // margin-left: auto;
        border: none;
        border-radius: 15px;
        cursor: pointer;

        &:hover {
            background-color: darken($bgColor, 5%);
        }

        &:active {
            background-color: darken($bgColor, 10%);
        }

        span {
            margin-left: 10px;
        }

        transition: 0.4s;
    }
}
